$mainBlockColor: rgb(99, 168, 247);
$twitterColor: rgb(87, 179, 255);
$facebookColor: rgb(68, 68, 250);
$linkedinColor: rgb(60, 60, 145); 
$instagramColor1: rgb(190, 13, 152);
$instagramColor2: rgb(252, 252, 0);
$youtubeColor: rgb(180, 23, 17);
$tumblrColor: rgb(31, 31, 71); 
$dribbbleColor1: rgb(117, 17, 96);
$dribbbleColor2: rgb(248, 43, 204);
$transform: scale(1.7);