*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
}

.ball{
    position: absolute;
    left: 10%;
    top: 10%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    /* box-shadow: 10px 10px 10px 10px rgba(255, 0, 0, 0.5); */
}