@font-face{
    font-family: 'Bahiy';
    src: url(fonts/bahij-sultannahia.ttf);
}

@font-face{
    font-family: 'ChronicaPro';
    src: url(fonts/ChronicaPro-Regular.ttf);
}

body{
    height: 90vh;
}

nav{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Bahiy';
}

a{
    text-decoration: none;
    font-size: 24px;
    color: darkslategray;
}

main{
    height: 87vh;
    border-radius: 20px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

p, h4{
    font-family: 'ChronicaPro';
    color: black;
}

p{
    font-size: 12px;
}

.distance{
    margin-top: -20px;
}

.main-box{
    width: 75%;
    height: 90vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.box{
    width: 200px;
    background-color: white;
    height: 200px;
    border-radius: 25px;
    text-align: center;
    position: relative;
}

.box::after{
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="far" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" viewBox="0 -20 448 512" width="40px" preserveAspectRatio="xMidYMid meet" ><path fill="dodgerblue" d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z"/></svg>');
    position: absolute;
    top: -25px;
    right: -25px;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    background-color: white;
    opacity: 0;
}

img{
    border-radius: 100px;
    margin-top: 15px;
    width: 80px;
}

a:hover{
    color: dodgerblue;
}

.box:hover{
    background-color: dodgerblue;
}

.box:hover::after{
    opacity: 1;
}

.box:hover h4{
    color: white;
}

.box:hover p{
    color: white;
}